extends layout

block scripts
	script(src='https://www.google.com/recaptcha/api.js')

block content
	div.container
		h2 Contact Us
		div.signup-wall
			form(name='contactus', id='contactus', method='POST')
				fieldset
					label(for='name') Name
					div.input-group-sm
						input(name='name', class='form-control', type='text', value='', id='name', autofocus)
					label(for='name') Email
					div.input-group-sm
						input(name='email', class='form-control', type='text', value='', id='email', autofocus)
					label(for='name') Message
					div
						textarea(name='message', rows="5", class='form-control noresize', value='', id='message', autofocus)
					br
					div.g-recaptcha(data-sitekey="6Leibw4TAAAAAPzwBfGmfBv6rgEmjon7sI-X46_M")
					input(name='submit', class="btn btn-primary", type='submit', value='Send', id='submit')