doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="google-site-verification", content="JoljTAwFHfukv20cr7a8oK90LczW4E1hyByZ-FD37zs")
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript' src='/javascripts/bootstrap.min.js')
    block scripts
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68625700-1', 'auto');
      ga('send', 'pageview');
  #loadOverlay(style="background-color:#fff; position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:2000;")
  body.landing
    nav.navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img(id='logo', src='/images/logo.png')
        .collapse.navbar-collapse
          ul.nav.navbar-right.navbar-nav
            li
              a(href='http://publishers.#{base}') For Publishers
            li
              a(href='http://buyers.#{base}') For Lead Buyers
            li
              a(href='http://#{base}/contact') Contact
    .row
    - if (message && message != ''){
      div.alert.alert-success(role='alert')
        span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
        =" "
        | !{message}
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') &times;
    - }
    block content
    .row
      div.footer(id='footer')
        span.copy &copy; #{new Date().getFullYear()} Prospector.io

    script.
      $(document).ready(function(){
        $("#loadOverlay").css("display","none");
      });