div.modal-header
	button(type='button',class='close',data-dismiss='modal')
		span(aria-hidden='true') &times;
		span.sr-only Close
	h4.modal-title(id='getCodeTitle') Get Code
div.modal-body
	p Paste the following code into your website before the closing body tag.
	textarea.form-control(rows='11') !{code}
	p For help implementing the code, see our
		=" "
		a(href="/block-implementation", target="_blank") Implementation Guide
div.modal-footer
	button(type='button', class='btn btn-default', data-dismiss='modal') Close