extends ../layout

block content
  div.container
    h2 Ad Block Implementation
    p To show Prospector lead offers on your site you need to place the code block on your pages. In your publisher account, go to your Ad Blocks tab. There you will find a list of your existing ad blocks. If you have none, you'll need to create one. Click the button that says "Get Code". This code should be placed before the closing body tag of your website.

    h3 Blogger
    p Blogspot.com websites make it easy to add third party code to your site. Go to your Blogger dashboard and sign in under the email you have registered. The dashboard will show a list of your blogs.
    ul
        li Click the blog title and go to the individual blog's dashboard.
        li In the left panel, go to Layout .
        li In the "Footer" section, click "Add a Gadget".
        li Find the Gadget titled "HTML/Javascript" and choose that.
        li Give the Gadget any title and add your code block to the content section.
        li Save.