extends ../layout

block styles
  link(rel='stylesheet', href='/stylesheets/jquery.dataTables.min.css')

block scripts
  script(type='text/javascript', src='/javascripts/jquery.dataTables.min.js')
  script(type='text/javascript', src='/javascripts/dataTables.tableTools.js')
  - if(!user.takenTour){
  script(type='text/javascript', src='/javascripts/publisher-tour.js')
  - }

block content
  .container
    h1.login-title Ad Blocks
    a#new-block(href='/block/new')
      button(type='button' class='btn btn-default btn-sm')
        span.glyphicon.glyphicon-plus
        =" "
        | New Ad Block

    table(id="dataTable", class="display", cellspacing="0", width="100%")
      thead
        tr
          th Name
          th Description
          th Status
          th

  #codeModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.modal-title Modal title
        .modal-body
          .te
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Save changes

  script.
    $(document).ready(function() {
      $('#dataTable').DataTable( {
        "ajax": "../blocks-table",
        "columns": [{'data':'name'},{'data':'description'}, {'data':'status'}, {'data': '_id'}],
        "aoColumnDefs": [
          {
           "aTargets": [ 3 ], // Column to target
           "mRender": function ( data, type, full ) {
             return '<a data-toggle="modal" href="/get-code/' + data + '" data-target="#codeModal">Get Code</a>';
           }
          }
        ]
      } );
    });