extends ../layout

block content
  .container
    .signup-wall
      span
        a(href='/blocks') Ad Blocks
        span > New
      div.row
        div.col-md-8
          form(class='form-block-new', id='newBlock', method='POST', action='/block/new/#{blockid}')
            label Ad Name
            input(type='text', name='name', class='form-control', required, autofocus)
            label Description
            textarea(name='description', class='form-control', maxlength='255', rows='8', required)
            //- BUTTON TRIGGER MODAL
            button(type='button', class='btn btn-primary btn-md', data-toggle='modal', data-target='#codeModal') Save and get code
          a(href='/blocks')
            button(class='btn btn-md btn-default') Cancel
            span.clearfix
        //- MODAL
        div.modal.fade(id='codeModal', tabindex='-1', role='dialog', aria-labelledby='getCodeTitle', aria-hidden='true')
          div.modal-dialog
            div.modal-content
              div.modal-header
                button(type='button',class='close',data-dismiss='modal')
                  span(aria-hidden='true') &times;
                  span.sr-only Close
                h4.modal-title(id='getCodeTitle') Get Code
              div.modal-body
                p Paste the following code into your website before the closing body tag.
                textarea.form-control(rows='11') !{code}
              div.modal-footer
                button(type='button', class='btn btn-default', data-dismiss='modal') Close
                button(type='button', class='btn btn-primary', onclick='jQuery("#newBlock").submit();') Save & Continue