extends layout

block content
	div.container#stats
		.row
			h1.text-center.login-title Admin
		.row
			h2.dashboard-title Buyers Overview
			.col-sm-3
				h6 Buyer Count
				span.dashboard-number #{count}
		.row
			h2.dashboard-title Buyers
			table
				for buyer in buyers
					tr
						td(style="padding: 5px") #{buyer.email}
						td #{buyer.url}
						td #{buyer.credit}
						- if (buyer.forms)
							td #{buyer.forms.length}
						-else
							td 0