extends layout

block styles
	link(rel='stylesheet', href='/stylesheets/jquery.dataTables.min.css')
	link(rel='stylesheet', href='/stylesheets/dataTables.tableTools.css')

block scripts
	script(type='text/javascript', src='/javascripts/jquery.dataTables.min.js')
	script(type='text/javascript', src='/javascripts/dataTables.tableTools.js')

block content
	div.container
		h1.login-title Submissions by Campaign
		div.signup-wall
			if fields
				table(id="dataTable", class="display", cellspacing="0", width="100%")
					thead
						tr
						each value, key in fields.fields[0].fields
							th #{key}
	script.
		$(document).ready(function() {
			$('#dataTable').DataTable( {
				dom: 'T<"clear">lfrtip',
				"ajax": "../submissions-table/!{sid}",
				"columns": !{JSON.stringify(columns)},
				"tableTools": {
					"sSwfPath": "http://cdn.datatables.net/tabletools/2.2.2/swf/copy_csv_xls_pdf.swf",
				}
			} );
		});