extends layout

block scripts
	script(type='text/javascript' src='/javascripts/bootstrap-tokenfield.js')
	script(type='text/javascript' src='http://maps.google.com/maps/api/js?sensor=false&libraries=places')
	script(type='text/javascript' src='/javascripts/locationpicker.jquery.js')

block styles
	link(rel='stylesheet', href='/stylesheets/bootstrap-tokenfield.min.css')


block content
	div.container
		h1.login-title Campaign #{fdata._id}
		div.signup-wall
			form(class='form-campaign', method='POST', enctype="multipart/form-data")
				div.col-md-6
					label Title
					div.input-group-sm
						input(type='text', name='cta', class='form-control', value= fdata.cta, required, autofocus)
					label Subtext
					div.input-group-sm
						input(type='textarea', name='copy', maxlength='150', class='form-control', value= fdata.copy, required)
					label Company Logo
					div.input-group-sm
						input(type='file', name='logo', class='form-control', accept="image/gif, image/jpeg, image/jpg, image/png")
						div#accordion
							a.collapsed(role="button", data-toggle="collapse", data-parent="#accordion", href="#collapse", aria-expanded="true", aria-controls="collapseOne")
								| Show Current Logo
								span.glyphicon.glyphicon-chevron-right
								span.glyphicon.glyphicon-chevron-down
							div.panel-collapse.collapse(id="collapse", role="tabpanel", aria-labelledby="headingOne")
								- if (fdata.logo){
									img(src='http://cdn.drunkcandy.com/#{fdata.logo}')
								- } else {
									span No image present
								-}
					hr
					label Keywords
					=" "
					span.glyphicon.glyphicon-question-sign(data-toggle="tooltip", data-placement="right", title="Comma separated or press \"TAB\" between keywords")
					div.input-group-sm
						input(type='text', id="keywords", name='keywords', class='form-control tokenfield', data-tokens="#{fdata.keywords}", data-beautify='false')
					label Bid
					=" "
					span.glyphicon.glyphicon-question-sign(data-toggle="tooltip", data-placement="right", title="Minimum bid: $0.15")
					div.input-group.input-group-sm
						span.input-group-addon $
						input(type='number', min="0.15", name='bid', step="0.01" class='form-control', value= bid, pattern="([0-9]*)([.])([0-9]{2})", required)
				div.col-md-6
					label Location
					div.form-group
						div.radio
							label
								input(type='radio', name='loc', value="all")
								| All countries and territories
						div.radio
							label
								input(type='radio', name='loc', value="us")
								| United States
						div.radio
							label
								input(type='radio', name='loc', value="custom", id="map-picker", checked)
								| Custom
						div(id="map")
							i Address
							div.input-group-sm
								input(type="text", class="form-control", id="us2-address")
							i Radius
							div.input-group.input-group-sm
								input(type="number", class="form-control", id="us2-radius", step="1000")
								span.input-group-addon meters
							div(id="us2", style="width: 100%; height: 400px; margin-top:10px;")
							input(type="hidden", name="lat", id="us2-lat")
							input(type="hidden", name="lon", id="us2-lon")
							-if(typeof(fdata.latlong) != 'undefined'){
								script.
									$('#us2').locationpicker({
										location: {latitude: #{fdata.latlong[0]}, longitude: #{fdata.latlong[1]}},
										radius: 9000,
										inputBinding: {
									        latitudeInput: $('#us2-lat'),
									        longitudeInput: $('#us2-lon'),
									        radiusInput: $('#us2-radius'),
									        locationNameInput: $('#us2-address')
									    },
									    enableAutocomplete: true,
									});
							-}else{
								script.
									$('#us2').locationpicker({
										location: {latitude: 40.7607793, longitude: -111.89104739999999},
										radius: 9000,
										inputBinding: {
									        latitudeInput: $('#us2-lat'),
									        longitudeInput: $('#us2-lon'),
									        radiusInput: $('#us2-radius'),
									        locationNameInput: $('#us2-address')
									    },
									    enableAutocomplete: true,
									});
							-}
					button(class='btn btn-sm btn-primary', name='saved', type='submit') Save
			span.clearfix
	script.
		$('#keywords').tokenfield();
		$(document).ready(function() {
			$('input[name="loc"]').click(function() {
				if($(this).attr('value') == 'custom') {
					$('#map').show("slow");
				} else {
					$('#map').hide("slow");
				}
			});
		});
		$(document).on("keypress", 'form', function (e) {
		    var code = e.keyCode || e.which;
		    if (code == 13) {
		        e.preventDefault();
		        return false;
		    }
		});
		$(document).ready(function(){
		    $('[data-toggle="tooltip"]').tooltip();
		});
