extends layout

block vars
	- var current = f

block styles
	link(rel='stylesheet', href='/stylesheets/vendor.css')
	link(rel='stylesheet', href='/stylesheets/formbuilder.min.css')
	link(rel='stylesheet', href='/stylesheets/formbuilder-overrides.css')

block scripts
	script(type='text/javascript' src='/javascripts/vendor.js')
	script(type='text/javascript' src='/javascripts/formbuilder.js')

block content
	div.container
		div.row
			- if (message && message != ''){
				div.alert.alert-danger(role='alert')
					span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
					span.sr-only Error:
					=" "
					| #{message}
					button.close(type='button', data-dismiss='alert', aria-label='Close')
						span(aria-hidden='true') &times;
			- }
			div.col-sm-12.col-md-12
				h1.login-title New Form Builder
				div(id='builder')
	script.
		(function($){
			var fb = new Formbuilder({
				selector: '#builder',
				bootstrapData: !{f}
			});
		})(jQuery);