extends layout

block styles
	link(rel='stylesheet', href='/stylesheets/jquery.dataTables.min.css')

block scripts
	script(type='text/javascript', src='/javascripts/jquery.dataTables.min.js')
	script(type='text/javascript', src='/javascripts/dataTables.tableTools.js')

block content
	div.container
		h1.login-title My Campaigns
		a(href='/campaign/new')
			button(type='button' class='btn btn-default btn-sm')
				span.glyphicon.glyphicon-plus
				=" "
				| New Campaign
		table(id="dataTable", class="display", cellspacing="0", width="100%")
			thead
				tr
					th ID
					th Name
					th Status
					th Bid
					th

	script.
		$(document).ready(function() {
			$('#dataTable').DataTable( {
				"ajax": "../campaigns-table",
				"columns": [{"data": '_id'},{"data": 'name'},{"data": 'status'},{"data": 'bid'},{"data": '_id'}],
				"aoColumnDefs": [
					{
						"aTargets": [ 0 ],
						"mRender": function ( data, type, full ) {
							return '<a href="/campaign/' + data + '" >' + data + '</a>';
						}
					},
					{
						"aTargets": [ 2 ],
						"mRender": function ( data, type, full ) {
							return !full.fields
								? "<em class='small bg-danger text-danger'>Campaign will not be live until form fields have been set. Set them <a class='text-danger' href='/formbuilder/"+full._id+"'>here</a></em>"
								: "<a href='/toggle-active/"+full._id+"'>"+data+"</a>"
						}
					},
					{
						"aTargets": [ 4 ],
						"mRender": function ( data, type, full ) {
							return '<a href="/campaign/' + data + '" >Edit</a>';
						}
					}
				]
			} );
		});



//- table.table.table-condensed
//- 	thead
//- 		tr
//- 			th ID
//- 			th Title
//- 			th
//- 			th
//- 	tbody
//- 	each form in forms
//- 		tr
//- 			td
//- 				a(href='/campaign/#{form._id}')
//- 					span #{form._id}
//- 			td #{form.cta}
//- 			td
//- 				if form.fields.length === 0
//- 					em.small.bg-danger.text-danger Campaign will not be live until form fields have been set. Set them
//- 						= " "
//- 						strong
//- 							a.text-danger(href="/formbuilder/#{form._id}") here
//- 			td
//- 				a(href="/campaign/#{form._id}") Edit