extends layout

block scripts
	script(type='text/javascript' src='https://js.stripe.com/v2/')
	- if(!user.takenTour){
	script(type='text/javascript', src='/javascripts/buyer-tour.js')
	- }

block content
	div.container
		div.row
			div.col-sm-6.col-sm-offset-3
				h1.text-center.login-title Fund Account
				div.signup-wall
					form#payment-form
						span.payment-errors
						div#amount.col-xs-12.input-group.input-group-sm
							span.input-group-addon $
							input(type='text', class='form-control', id="stripe-amount", data-stripe='amount', placeholder="Amount", pattern="([0-9]*)([.])([0-9]{2})", required)
						div.col-xs-12.input-group.input-group-sm
							input(type='text', class='form-control', size='20', data-stripe='number', placeholder='Credit Card Number', required)
						hr
						div.form-group.no-bottom
							label Expiration (MM/YYYY):
							div.dates.col-xs-4.input-group.input-group-sm
								select(class='form-control', data-stripe='exp-month', required)
									option(disabled, selected) Select
									each val, index in months
										option(value=index+1)= val
							div.dates.col-xs-8.input-group.input-group-sm
								select(class='form-control', data-stripe='exp-year', required)
									option(disabled, selected) Select
									each val, index in years
										option(value=val)= val
						hr
						div.col-xs-4.input-group.input-group-sm.cvc.pull-left
							input(type='text', class='form-control', size='4', data-stripe='cvc', placeholder="CVC", required)
						div.col-xs-8.cvc
							img(id="cvc-img", src="/images/cvc.png")
						.clear
						button#submit(class='btn btn-sm btn-primary btn-block', onclick='createToken()') Submit Payment
	script.
		Stripe.setPublishableKey('pk_live_yfuFAIQRl1Lh4CkfyiIUnj4n'); // replace with your public key

		function createToken(){
			$('#payment-form').find('button').prop('disabled', true); // prevent further clicks
			Stripe.card.createToken($('#payment-form'), stripeResponseHandler); //sends card data to
		};

		function stripeResponseHandler(status, response){
			console.log("Status: "+status);
			console.log("Response: "+JSON.stringify(response));
			$('#payment-form').find('button').prop('disabled', false); // enable the submit button again
			if (response.error) { // handle an error from Stripe
				$('.payment-errors').text(response.error.message);
			} else {
				// send a POST request to our server with the token and any other data you'd like to include
				var amt = $('#stripe-amount').val();
				$.ajax({type: 'POST', url: '/charge',
					data: JSON.stringify({
						token: response.id,
						currency: response.currency,
						amount: amt,
						// email: collected_user_email,
						// etc.
					}),
					contentType: 'application/json',
					success: function(data) {
						alert(data.message)
					},
				});
			}
		}