extends layout

block scripts
	- if(!user.takenTour){
	script(type='text/javascript', src='/javascripts/buyer-tour.js')
	- }

block content
	div.container#stats
		.row
			h1.text-center.login-title Welcome #{user.firstName}. Check your details below:
		.row
			h2.dashboard-title Campaigns Overview
			.col-sm-3
				h6 Active Campaigns
				span.dashboard-number #{activeCampaigns}
			.col-sm-3
				h6 Total Campaigns
				span.dashboard-number #{user.forms.length}
			.col-sm-3
				a.sm-link(href="/fund")
					h6 Account Credit
				span.dashboard-number #{balance}
		.row
			h2.dashboard-title Submissions Overview
			.col-sm-3
				h6 Total Submissions
				span.dashboard-number #{submissionCount}
			.col-sm-3
				h6 Submissions Today
				span.dashboard-number #{todaySubmissions}