doctype html
html
  block vars
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/bootstrap-tour.min.css")
    block styles
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src="/javascripts/bootstrap-tour-standalone.min.js")
    block scripts
  body
    .navbar.navbar-static-top
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')
          img(id='logo', src='/images/logo.png')
      .collapse.navbar-collapse
        - if (typeof(user) !== 'undefined'){
          ul.nav.navbar-nav
            li
              a#home(href='/home') Home
            li
              a#campaigns(href='/campaigns') My Campaigns
            li
              a#submissions(href='/submissions') Lead Submissions
            //- li
            //-   a(href='#') Performance
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#', class='dropdown-toggle', data-toggle='dropdown', role='button', aria-expanded='false') #{user.email}
                span.caret
              ul(class='dropdown-menu', role='menu')
                li
                  a(href='/account') Account
                  a(href='/signout') Sign Out
        - }
    .container
      .row
        while message = flash.shift()
          if message.message != ''
            .alert(class='alert-' + message.type, role="alert")
              span !{message.message}
              button.close(type='button', data-dismiss='alert', aria-label='Close')
                span(aria-hidden='true') &times;
    block content
    .row
      div.footer(id='footer')
        span.copy &copy; #{new Date().getFullYear()} Prospector.io