extends layout

block content
	div.container
		h1.login-title Account Information
		div.signup-wall
			h2 Account Summary
			table.user-details.account
				tr
					td ID:
					td #{user._id}
					td
				tr
					td Payment Type:
					td
					td
						a(href='#') Edit &rsaquo;
				tr
					td Billing Address:
					td
					td
						a(href='#') Edit &rsaquo;
				tr
					td Country/Region:
					td
					td
						a(href='#') Edit &rsaquo;
				tr
					td Username:
					td #{user.username}
					td
						a(href='#') Edit &rsaquo;
				tr
					td Email:
					td #{user.email}
					td
				tr
					td First Name:
					td #{user.firstName}
					td
						a(href='#') Edit &rsaquo;
				tr
					td Last Name:
					td #{user.lastName}
					td
						a(href='#') Edit &rsaquo;
				tr
					td Credit:
					td #{balance}
					td
						a(href='/fund') Add Funds &rsaquo;
			hr.full
			h2 Payment History
			table.account
				tr
					td Most Recent Payment:
					td Placeholder
					td
						a(href='#') See All &rsaquo;
			hr.full
			h2 Settings
			table.account
				tr
					td Notifications:
					td Off
					td
						a(href='#') Edit &rsaquo;
				tr
					td Password:
					td
					td
						a(href='#') Change Password &rsaquo;