extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-sm-offset-3
				h1.text-center.login-title Registration Details
					div.signup-wall
						form(class='form-signin', action='/signup', method='POST')
							div.input-group.input-group-sm
								input(type='text', name='username', class='form-control', placeholder='Username',required, autofocus)
							div.input-group.input-group-sm
								input(type='password', name='password', class='form-control nomargin', placeholder='Password', required)
							div.input-group.input-group-sm
								input(type='email', name='email', class='form-control', placeholder='Email',required)
							div.input-group.input-group-sm
								input(type='text', name='firstName', class='form-control', placeholder='First Name',required)
							div.input-group.input-group-sm
								input(type='text', name='lastName', class='form-control', placeholder='Last Name',required)
							div.input-group.input-group-sm
								span.input-group-addon
									em http://
								input(type='text', name='url', class='form-control', placeholder='URL',required)
							button(class='btn btn-sm btn-primary btn-block', type='submit') Register
							span.clearfix
					#message
						if message
							h1.text-center.error-message #{message}