extends layout

block styles
	link(rel='stylesheet', href='/stylesheets/jquery.dataTables.min.css')

block scripts
	script(type='text/javascript', src='/javascripts/jquery.dataTables.min.js')
	script(type='text/javascript', src='/javascripts/dataTables.tableTools.js')

block content
	div.container
		h1.login-title Submissions by Campaign
		table(id="dataTable", class="display", cellspacing="0", width="100%")
			thead
				tr
					th ID
					th Name

	script.
		$(document).ready(function() {
			$('#dataTable').DataTable( {
				"ajax": "../campaigns-table",
				"columns": [{"data":'_id'}, {"data":'name'}],
				"aoColumnDefs": [
					{
						"aTargets": [ 0 ],
						"mRender": function ( data, type, full ) {
							return '<a href="/submissions/' + data + '" >' + data + '</a>';
						}
					}
				]
			} );
		});