doctype html
html
  head
    title Example Iframe
    link(rel='stylesheet', href='/stylesheets/iframe.css')
  body#form-body
    img(src='http://cdn.drunkcandy.com/uploads/3b93b3304fd8483131837c4c0d5a6298.png')
    h1 Get Our Exclusive Deals
    h2 Sign up to our newsletter for deals delivered to your inbox.
    form(onsubmit="return false")
      input(type='email', placeholder="Email")
      button(type='submit') Submit
    p.powered-by Powered by
      img.icon(src="/images/icon.png")
      a(href="http://prospector.io", target="_blank") Prospector