doctype html
html
  head
    title Iframe
    link(rel='stylesheet', href='/stylesheets/iframe.css')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-74974434-1', 'auto');
      ga('send', 'pageview');

  body#form-body
    img(src='http://cdn.drunkcandy.com/#{form.logo}')
    h1= form.cta
    h2= form.copy
    form(onsubmit="AJAXPost(this);return false")
      each field, index in fields
        input(type=field.field_type, name="fields[#{field.label}]", placeholder="#{field.label}", pattern=".*[^ ].*", required)
      input(type='hidden', value=form._id, name='formId')
      input(type='hidden', value=form.token, name='token')
      input(type='hidden', value=form.blockId, name='blockId')
      input(type='hidden', value=form.buyerId, name='buyerId')
      button(type='submit') Submit
    p.powered-by Powered by
      =" "
      img.icon(src='/images/icon.png')
      =" "
      a(href="http://prospector.io", target="_blank") Prospector

  script.
    function AJAXPost(formSub) {
        console.log('submitting...');

        var http = new XMLHttpRequest();
        http.open("POST", "http://api.prospector.io/submit", true);
        http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        var params = ""; // probably use document.getElementById(...).value
        var elements = formSub.elements;
        for (i=0; i<elements.length; i++){
            console.log(elements[i]);
            if(elements[i].name != '' && elements[i].value != '')
                params += elements[i].name + "=" + elements[i].value + "&";
        }
        http.send(params);
        http.onload = function() {
            console.log(http.responseText);
            document.getElementById('form-body').style.display = 'none'
            top.postMessage('submitted', '*')
            document.documentElement.style.display = 'none';
        }
    }
    top.postMessage('#{form._id}', '*');

  script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
  <!-- p.io -->
  ins(class="adsbygoogle", style="display:block", data-ad-client="ca-pub-1494120104206477", data-ad-slot="3202655146", data-ad-format="auto")
  script.
    (adsbygoogle = window.adsbygoogle || []).push({});