body{
	font-family: Arial, Helvetica, sans-serif;
	min-height:100px;
	width: 480px;
	margin: 0px;
	color: #333;
}

img {
	width:100%;
}

button {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	color: #ffffff;
	font-size: 12px;
	padding: 6px 15px;
	text-decoration: none;
	border:none;
	display:block;
	float:right;
	margin-top:5px;
}

input {
	border-width: 2px;
    border-color: #cccccc;
    padding: 4px;
    font-size: 15px;
    border-radius: 3px;
    border-style: solid;
	width: 45%;
    margin-right: 12px;
}

a{
	text-decoration:none;
	color:#00B7FF;
	text-transform:uppercase;
}

.powered-by{
	clear:both;
	font-size:13px;
}

.icon{
	width:14px;
}