@font-face {
    font-family:Circular;
    src:url(/fonts/lineto-circular-pro-bold.eot);
    src:url(/fonts/lineto-circular-pro-bold.eot) format('embedded-opentype'),
        url(/fonts/lineto-circular-pro-bold.woff) format('woff'),
        url(/fonts/lineto-circular-pro-bold.ttf) format('truetype');
    font-weight:bold;
}

@font-face {
font-family: BaronNeue;
src: url("/fonts/BaronNeue.otf") format("opentype");
}

@font-face {
font-family: BaronNeue;
font-weight: bold;
src: url("/fonts/BaronNeueBold.otf") format("opentype");
}
html,body{
    margin:0;
    padding:0;
    min-height:100%;
}
html{
    position: relative;
}
body {
    padding-bottom:37px;
}
h2{
    font-size: 16px;
    color: #555;
}
a {
  color: #00B7FF;
}
.clear{
    clear:both;
}
#logo{
    width:150px;
}
.navbar {
    margin-bottom:0px;
}
.navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}
h2.dashboard-title {
    margin-bottom: 30px;
}
span.dashboard-number {
    font-size: 25px;
}
.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox{
    margin-bottom: 10px;
}
.form-signin .checkbox{
    font-weight: normal;
}
.form-signin .input-group{
    width:100%
}
.form-signin .form-control:focus{
    z-index: 2;
}
.form-signin input[type="text"]{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[type="password"].nomargin{
    margin-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.signup-wall{
    margin-top: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.new-account{
    display: block;
    margin-top: 10px;
}
h1.error-message{
    color: red;
}
table.account{
    width:100%;
}
table.account tr td{
    padding:2px 8px;
}
table.account tr td:first-child{
    text-align:right;
    width:20%;
}
table.account tr td:nth-child(2){
    text-align:left;
    width:60%;
}
table.account tr td:last-child{
    text-align:left;
    width:20%;
}
table.account tr td a{
    font-size:12px;
}
#payment-form #amount {
    margin-bottom:15px;
}
#payment-form #submit {
    margin-top:15px;
}
#payment-form label {
    display:block;
}
#payment-form .dates, #payment-form .cvc {
    display:inline-block;
}
#cvc-img{
    max-width:100%;
}
#blocks{
    margin-top:20px;
}
#payment-form{
    padding: 15px;
    margin: 0 auto;
}
.no-bottom{
    margin-bottom:0px;
}
hr.full{
    margin-left: -20px;
    margin-right: -20px;
}
#accordion #collapse img {
    width:100%;
}
#accordion a:hover, #accordion a:focus {
    text-decoration:none;
}
#accordion .glyphicon {
    top:0px;
    left:3px;
    font-size:9px;
}
#accordion .glyphicon-chevron-right {
    display:none;
}
#accordion .collapsed .glyphicon-chevron-down{
    display:none;
}
#accordion .collapsed .glyphicon-chevron-right{
    display:inline-block;
}
.form-campaign button {
    margin-top:15px;
}
#map{
    margin:10px 0;
    padding:10px 0;
}
#footer{
    text-align:center;
    margin: 10px;
    font-size: 12px;
    bottom: 0px;
    position: absolute;
    width: 100%;
}
.bg {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('/images/coffee-apple-iphone-laptop.jpg') no-repeat center center;
  width: 100%;
  top:0;
  left:0;
  z-index: -1;
}
.landing{
    font-family: "Circular","Times New Roman",Helvetica,Arial,sans-serif;
}
.landing h2 {
    font-size:30px;
}
.landing .jumbotron {
    min-height: 550px;
    color: white;
    /* text-shadow: #444 0 1px 1px; */
    background:transparent;
    font-family: "Circular","Times New Roman",Helvetica,Arial,sans-serif;
    text-transform:uppercase;
    font-weight:bold;
    text-align:center;
    margin-bottom:0px;
    padding:140px 0;
}
#hero {
    position:relative
}
#thumbnails {
    text-align:center;
    padding: 30px 0px 10px;
    background-color:#f5f5f5;
}
#thumbnails .thumbnail {
    background-color: transparent;
    border: none;
}
#list-items{
    border-top: 1px solid #ddd;
    min-height: 400px;
    position:relative;
}
#list-items #info {
    position:absolute;
    top:50%;
    margin-top:-110px;
}
#wind-up {
    text-align: center;
    padding: 50px;
    background-color: #efefef;
    border-top: 1px solid #ddd;
}
.jumbotron h1 {
    font-size:60px;
}
.jumbotron h1.opening {
    color:#D14836;
}
.btn.sharp {
  border-radius:0;
}
ul.list-with-icons{
    padding:0 20px;
}
li.list-icon{
    list-style-type:none;
    padding:5px 0;
}
li.traffic:before {
    font-family: 'FontAwesome';
    content: '\f0ac';
    margin:0 15px 0 -15px;
}
li.keywords:before {
    font-family: 'FontAwesome';
    content: '\f084';
    margin:0 13px 0 -15px;
}
li.location:before {
    font-family: 'FontAwesome';
    content: '\f041';
    margin:0 16px 0 -13px;
}
.noresize {
  resize: none;
}

@media screen and (min-width: 992px) {
    #list-items{
        background: #fff url('/images/list-items-image.png') no-repeat bottom center;
        background-size: auto 550px;
        min-height: 550px;
        position:relative;
    }
}

@media screen and (max-width: 991px) {
    #list-items #info{
        text-align:center;
        margin-top: -140px;
    }
    li.list-icon:before {
        display: block;
        margin:0;
    }
}

@media screen and (max-width:400px){
    .landing .jumbotron {
        padding:48px 10px;
        min-height:0px
    }
    .jumbotron h1 {
        font-size:25px;
    }
    .jumbotron p{
        font-size:12px;
    }
}
