extends layout

block scripts
	script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js')

block content
	div.container#stats
		.row
			h1.text-center.login-title Admin
		.row
			h2.dashboard-title Publisher Overview
			.col-sm-3
				h6 Publisher Count
				span.dashboard-number #{count}
		.row
			h2.dashboard-title Publishers
			table
				for publisher in publishers
					tr
						td(style="padding: 5px") #{publisher.email}
						td #{publisher.url}
						if publisher.blocks
							td= publisher.blocks.length
						else
							td 0
		.row
			h2.dashboard-title Traffic
			.col-sm-12
				canvas(id="traffic", width="1636", height="818")
	script.
		Chart.defaults.global.responsive = true;
		var data = {
			labels: #{lab},
			datasets: [
				{
					label: "My First dataset",
					fillColor: "rgba(220,220,220,0.2)",
					strokeColor: "rgba(220,220,220,1)",
					pointColor: "rgba(220,220,220,1)",
					pointStrokeColor: "#fff",
					pointHighlightFill: "#fff",
					pointHighlightStroke: "rgba(220,220,220,1)",
					data: #{val}
				}
			]
		};

		var ctx = document.getElementById("traffic").getContext("2d");
		var myNewChart = new Chart(ctx).Line(data)
