extends layout

block content
	div.container
		h2 Forgot Password
		div.signup-wall
			form(method='POST')
				.form-group
					label(for='email') Email
					input.form-control(type='text', name='email', autofocus)
				button.btn.btn-primary(type='submit') Reset Password