extends layout

block scripts
	- if(!user.takenTour && user.verified){
	script(type='text/javascript', src='/javascripts/publisher-tour.js')
	- }

block content
	div.container#stats
		.row
			h1.text-center.login-title Welcome #{user.firstName}. Check your details below:
		.row
			h2.dashboard-title Estimated Earnings
			.col-sm-3
				h6 Today
				span.dashboard-number #{dayTotalEarnings}
			.col-sm-3
				h6 Week
				span.dashboard-number #{weekTotalEarnings}
			.col-sm-3
				h6 Month
				span.dashboard-number #{monthTotalEarnings}
			.col-sm-3
				h6 Total
				span.dashboard-number #{totalEarnings}