extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-sm-offset-3
				h1.text-center.login-title Sign in to Prospector
					div.account-wall
						form(class='form-signin', action='/login', method='POST')
							div.input-group.input-group-sm
								input(type='text', name='username' class='form-control', placeholder='Email',required, autofocus)
							div.input-group.input-group-sm
								input(type='password', name='password' class='form-control', placeholder='Password', required)
							button(class='btn btn-sm btn-primary btn-block', type='submit') Sign in
							span.clearfix
					a(href='/signup', class='text-center new-account') Create an account
					a(href='/forgot', class='text-center') Forgot password?