extends layout

block content
	div.container
		h1.login-title Account Information
		div.signup-wall
			h2 Account Summary
			table.user-details.account
				tr
					td ID:
					td #{user._id}
					td
				tr
					td Username:
					td #{user.username}
					td
				tr
					td Email:
					td #{user.email}
					td
				tr
					td First Name:
					td #{user.firstName}
					td
				tr
					td Last Name:
					td #{user.lastName}
					td
			hr.full
			h2 Settings
			table.account
				tr
					td Password:
					td
					td
						a(href='#') Change Password &rsaquo;