extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-sm-offset-3
				h1.text-center.login-title Registration Limited
				p Please enter your email address to request an account
					div.signup-wall
						form(class='form-signin', action='/request-account', method='POST')
							input(type='email', name='email', class='form-control', placeholder='Email',required)
							button(class='btn btn-lg btn-primary btn-block', type='submit') Send
							span.clearfix